{% extends 'users/layout.html' %}
{% load static %}
{% load crispy_forms_field %}

{% block extra_head_js_lib %}

    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />

    <!-- Bootstrap DatePicker Css -->
    <link href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" rel="stylesheet" />

    <!-- Wait Me Css -->
    <link href="{% static 'plugins/waitme/waitMe.css' %}" rel="stylesheet" />

    <!-- Sweet Alert Css -->
    <link href="{% static 'plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />

    <!-- Bootstrap Select Css -->
    <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />

{% endblock %}
{% block body %}
<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Inquiry Details</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form id="form_validation" method="POST" enctype="multipart/form-data" novalidate="novalidate">
                                {% csrf_token %}
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% crispy_field form.inquiry_date 'id' 'idate' 'placeholder' 'inquiry date' %}
                                    </div>
                                    {% if form.inquiry_date.errors %}
                                        {% for error in form.inquiry_date.errors %}
                                            <label id="inquiry_date-error" class="error" ><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">First Name</label>
                                        {% crispy_field form.first_name %}
                                    </div>
                                    {% if form.first_name.errors %}
                                        {% for error in form.first_name.errors %}
                                            <label id="first_name-error" class="error" for="first_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Second Name</label>
                                        {% crispy_field form.second_name %}
                                    </div>
                                    {% if form.second_name.errors %}
                                        {% for error in form.second_name.errors %}
                                            <label id="second_name-error" class="error" for="second_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Last Name</label>
                                        {% crispy_field form.last_name %}
                                    </div>
                                    {% if form.last_name.errors %}
                                        {% for error in form.last_name.errors %}
                                            <label id="last_name-error" class="error" for="last_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">St. Name</label>
                                        {% crispy_field form.st_name %}
                                    </div>
                                    {% if form.st_name.errors %}
                                        {% for error in form.st_name.errors %}
                                            <label id="st_name-error" class="error" for="st_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Area Name</label>
                                        {% crispy_field form.area_name %}
                                    </div>
                                    {% if form.area_name.errors %}
                                        {% for error in form.area_name.errors %}
                                            <label id="area_name-error" class="error" for="area_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">City Name</label>
                                        {% crispy_field form.city_name %}
                                    </div>
                                    {% if form.city_name.errors %}
                                        {% for error in form.city_name.errors %}
                                            <label id="city_name-error" class="error" for="city_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Mobile Number</label>
                                        {% crispy_field form.mobile_number %}
                                    </div>
                                    {% if form.mobile_number.errors %}
                                        {% for error in form.mobile_number.errors %}
                                            <label id="mobile_number-error" class="error" for="mobile_number"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Phone Number House</label>
                                        {% crispy_field form.phone_number_house %}
                                    </div>
                                    {% if form.phone_number_house.errors %}
                                        {% for error in form.phone_number_house.errors %}
                                            <label id="phone_number_house-error" class="error" for="phone_number_house"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Education</label>
                                        {% crispy_field form.education %}
                                    </div>
                                    {% if form.education.errors %}
                                        {% for error in form.education.errors %}
                                            <label id="education-error" class="error" for="education"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">College Name</label>
                                        {% crispy_field form.college_name %}
                                    </div>
                                    {% if form.college_name.errors %}
                                        {% for error in form.college_name.errors %}
                                            <label id="college_name-error" class="error" for="college_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <p>
                                          <b>Course</b>
                                        </p>
                                        {% crispy_field form.course 'class' 'btn-group bootstrap-select form-control show-tick' %}
                                    </div>
                                    {% if form.course.errors %}
                                        {% for course in form.course.errors %}
                                            <label id="course-error" class="error" for="course"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Referance Name</label>
                                        {% crispy_field form.referance_name %}
                                    </div>
                                    {% if form.referance_name.errors %}
                                        {% for error in form.referance_name.errors %}
                                            <label id="referance_name-error" class="error" for="referance_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Remarks</label>
                                        {% crispy_field form.remarks %}
                                    </div>
                                    {% if form.remarks.errors %}
                                        {% for error in form.remarks.errors %}
                                            <label id="remarks-error" class="error" for="remarks"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Inquiry Held By</label>
                                        {% crispy_field form.inquiry_held_by %}
                                    </div>
                                    {% if form.inquiry_held_by.errors %}
                                        {% for error in form.inquiry_held_by.errors %}
                                            <label id="inquiry_held_by-error" class="error" for="inquiry_held_by"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Inquiry Institute Phone</label>
                                        {% crispy_field form.inquiry_institute_phone %}
                                    </div>
                                    {% if form.inquiry_institute_phone.errors %}
                                        {% for error in form.inquiry_institute_phone.errors %}
                                            <label id="inquiry_institute_phone-error" class="error" for="inquiry_institute_phone"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% crispy_field form.demo_lecture_date 'id' 'ddate' 'placeholder' 'demo lecture date' %}
                                    </div>
                                    {% if form.demo_lecture_date.errors %}
                                        {% for error in form.demo_lecture_date.errors %}
                                            <label id="demo_lecture_date-error" class="error" ><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% crispy_field form.demo_lecture_time 'class' 'timepicker' 'placeholder' 'demo lecture time' %}
                                    </div>
                                    {% if form.demo_lecture_time.errors %}
                                        {% for error in form.demo_lecture_time.errors %}
                                            <label id="demo_lecture_time-error" class="error" for="demo_lecture_time"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block extra_js_lib %}
     <!-- Jquery Validation Plugin Css -->
    <script src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>

    <!-- JQuery Steps Plugin Js -->
    <script src="{% static 'plugins/jquery-steps/jquery.steps.js' %}"></script>

    <!-- Sweet Alert Plugin Js -->
    <script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/pages/forms/form-validation.js' %}"></script>

    <!-- Autosize Plugin Js -->
    <script src="{% static 'plugins/autosize/autosize.js' %}"></script>

    <!-- Moment Plugin Js -->
    <script src="{% static 'plugins/momentjs/moment.js' %}"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/pages/forms/basic-form-elements.js' %}"></script>

<script>
    $('#idate').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
    $('#ddate').bootstrapMaterialDatePicker({ weekStart : 0, time: false });

</script>

{% endblock %}