{% extends 'users/layout.html' %}
{% load static %}
{% load crispy_forms_field %}

{% block extra_head_js_lib %}
    <!-- Sweet Alert Css -->
    <link href="{% static 'plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />

    <!-- Bootstrap Select Css -->
    <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Student Personal Information</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form id="form_validation" method="POST" enctype="multipart/form-data" novalidate="novalidate">
                                {% csrf_token %}
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Student First Name</label>
                                        {% crispy_field form.student_first_name %}
                                    </div>
                                    {% if form.student_first_name.errors %}
                                        {% for error in form.student_first_name.errors %}
                                            <label id="student_first_name-error" class="error" for="student_first_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Student Last Name</label>
                                        {% crispy_field form.student_last_name %}
                                    </div>
                                    {% if form.student_last_name.errors %}
                                        {% for error in form.student_last_name.errors %}
                                            <label id="student_last_name-error" class="error" for="student_last_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Student Second Name</label>
                                        {% crispy_field form.student_second_name %}
                                    </div>
                                    {% if form.student_second_name.errors %}
                                        {% for error in form.student_second_name.errors %}
                                            <label id="student_second_name-error" class="error" for="student_second_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Father First Name</label>
                                        {% crispy_field form.father_first_name %}
                                    </div>
                                    {% if form.father_first_name.errors %}
                                        {% for error in form.father_first_name.errors %}
                                            <label id="father_first_name-error" class="error" for="father_first_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Father Second Name</label>
                                        {% crispy_field form.father_second_name %}
                                    </div>
                                    {% if form.father_second_name.errors %}
                                        {% for error in form.father_second_name.errors %}
                                            <label id="father_second_name-error" class="error" for="father_second_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Father Last Name</label>
                                        {% crispy_field form.father_last_name %}
                                    </div>
                                    {% if form.father_last_name.errors %}
                                        {% for error in form.father_last_name.errors %}
                                            <label id="father_last_name-error" class="error" for="father_last_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">House No or Building Name</label>
                                        {% crispy_field form.houseno_building_name %}
                                    </div>
                                    {% if form.houseno_building_name.errors %}
                                        {% for error in form.houseno_building_name.errors %}
                                            <label id="houseno_building_name-error" class="error" for="houseno_building_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">St. Name</label>
                                        {% crispy_field form.st_name %}
                                    </div>
                                    {% if form.st_name.errors %}
                                        {% for error in form.st_name.errors %}
                                            <label id="st_name-error" class="error" for="st_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Area Name</label>
                                        {% crispy_field form.area_name %}
                                    </div>
                                    {% if form.area_name.errors %}
                                        {% for error in form.area_name.errors %}
                                            <label id="area_name-error" class="error" for="area_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">City Name</label>
                                        {% crispy_field form.city_name %}
                                    </div>
                                    {% if form.city_name.errors %}
                                        {% for error in form.city_name.errors %}
                                            <label id="city_name-error" class="error" for="city_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Country Name</label>
                                        {% crispy_field form.country_name %}
                                    </div>
                                    {% if form.country_name.errors %}
                                        {% for error in form.country_name.errors %}
                                            <label id="country_name-error" class="error" for="country_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Mobile Number</label>
                                        {% crispy_field form.mobile_number %}
                                    </div>
                                    {% if form.mobile_number.errors %}
                                        {% for error in form.mobile_number.errors %}
                                            <label id="mobile_number-error" class="error" for="mobile_number"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Phone Number House</label>
                                        {% crispy_field form.phone_number_house %}
                                    </div>
                                    {% if form.phone_number_house.errors %}
                                        {% for error in form.phone_number_house.errors %}
                                            <label id="phone_number_house-error" class="error" for="phone_number_house"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Birth Date</label>
                                        {% crispy_field form.birthdate %}
                                    </div>
                                    {% if form.birthdate.errors %}
                                        {% for error in form.birthdate.errors %}
                                            <label id="birthdate-error" class="error" for="birthdate"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

<!--                                <div class="form-group">-->
<!--                                    <input type="radio" name="gender" id="male" class="with-gap">-->
<!--                                    <label for="male">Male</label>-->

<!--                                    <input type="radio" name="gender" id="female" class="with-gap">-->
<!--                                    <label for="female" class="m-l-20">Female</label>-->
<!--                                </div>-->

                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <p>
                                          <b>Gender</b>
                                        </p>
                                        {% crispy_field form.gender 'class' 'btn-group bootstrap-select form-control show-tick' %}
                                    </div>
                                    {% if form.gender.errors %}
                                        {% for gender in form.gender.errors %}
                                            <label id="gender-error" class="error" for="gender"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">School Name or College Name</label>
                                        {% crispy_field form.school_college_name %}
                                    </div>
                                    {% if form.school_college_name.errors %}
                                        {% for error in form.school_college_name.errors %}
                                            <label id="school_college_name-error" class="error" for="school_college_name"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Education</label>
                                        {% crispy_field form.education %}
                                    </div>
                                    {% if form.education.errors %}
                                        {% for error in form.education.errors %}
                                            <label id="education-error" class="error" for="education"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Photo</label>
                                        {% crispy_field form.photo %}
                                    </div>
                                    {% if form.photo.errors %}
                                        {% for error in form.photo.errors %}
                                            <label id="photo-error" class="error" for="photo"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Biomatric Data</label>
                                        {% crispy_field form.biomatric_data %}
                                    </div>
                                    {% if form.biomatric_data.errors %}
                                        {% for error in form.biomatric_data.errors %}
                                            <label id="biomatric_data-error" class="error" for="biomatric_data"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Email Id</label>
                                        {% crispy_field form.email_id %}
                                    </div>
                                    {% if form.email_id.errors %}
                                        {% for error in form.email_id.errors %}
                                            <label id="email_id-error" class="error" for="email_id"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Inquiry Id</label>
                                        {% crispy_field form.inquiry_id %}
                                    </div>
                                    {% if form.inquiry_id.errors %}
                                        {% for error in form.inquiry_id.errors %}
                                            <label id="inquiry_id-error" class="error" for="inquiry_id"><b>{{ error }}</b></label>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block extra_js_lib %}
     <!-- Jquery Validation Plugin Css -->
    <script src="{% static 'plugins/jquery-validation/jquery.validate.js' %}"></script>

    <!-- JQuery Steps Plugin Js -->
    <script src="{% static 'plugins/jquery-steps/jquery.steps.js' %}"></script>

    <!-- Sweet Alert Plugin Js -->
    <script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/pages/forms/form-validation.js' %}"></script>

{% endblock %}