{% extends 'users/layout.html' %}
{% load static %}
{% load crispy_forms_field %}
{% block extra_head_js_lib %}
    <!-- JQuery DataTable Css -->
    <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

{% endblock %}
{% block body %}
    <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Student Details
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">


                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 188px;">Student First Name</th>
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 303px;">Student Last Name</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 139px;">Student Second Name</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 68px;">Father First Name</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Father Second Name</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Father Last Name</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">House No or Building Name</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">St. Name</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Area Name</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">City Name</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Country Name</th>-->
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Mobile Number</th>
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Phone Number(House)-->
<!--                                            </th>-->
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Birth Date</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Gender</th>
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">School Name or College Name</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Education</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Photo</th>-->
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Biomatric Data</th>-->
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Email Id</th>
<!--                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Inquiry Id</th>-->
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 130px;">Action</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">Student First Name</th>
<!--                                            <th rowspan="1" colspan="1">Student Last Name</th>-->
<!--                                            <th rowspan="1" colspan="1">Student Second Name</th>-->
<!--                                            <th rowspan="1" colspan="1">Father First Name</th>-->
<!--                                            <th rowspan="1" colspan="1">Father Second Name</th>-->
<!--                                            <th rowspan="1" colspan="1">Father Last Name</th>-->
<!--                                            <th rowspan="1" colspan="1">House No or Building Name</th>-->
<!--                                            <th rowspan="1" colspan="1">St.Name</th>-->
<!--                                            <th rowspan="1" colspan="1">Area Name</th>-->
<!--                                            <th rowspan="1" colspan="1">City Name</th>-->
<!--                                            <th rowspan="1" colspan="1">Country Name</th>-->
                                            <th rowspan="1" colspan="1">Mobile Number</th>
<!--                                            <th rowspan="1" colspan="1">Phone Number(House)</th>-->
                                            <th rowspan="1" colspan="1">Birth Date</th>
                                            <th rowspan="1" colspan="1">Gender</th>
<!--                                            <th rowspan="1" colspan="1">School Name or College Name</th>-->
<!--                                            <th rowspan="1" colspan="1">Education</th>-->
<!--                                            <th rowspan="1" colspan="1">Photo</th>-->
<!--                                            <th rowspan="1" colspan="1">Biomatric Data</th>-->
                                            <th rowspan="1" colspan="1">Email Id</th>
<!--                                            <th rowspan="1" colspan="1">Inquiry Id</th>-->
<!--                                            <th rowspan="1" colspan="1">Action</th>-->

                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for student in students %}
                                            <tr>
                                                <td>{{ student.student_first_name }}</td>
<!--                                                <td>{{ student.student_last_name }}</td>-->
<!--                                                <td>{{ student.student_second_name }}</td>-->
<!--                                                <td>{{ student.father_first_name }}</td>-->
<!--                                                <td>{{ student.father_second_name }}</td>-->
<!--                                                <td>{{ student.father_last_name }}</td>-->
<!--                                                <td>{{ student.houseno_building_name }}</td>-->
<!--                                                <td>{{student.st_name }}</td>-->
<!--                                                <td>{{student.area_name }}</td>-->
<!--                                                <td>{{student.city_name }}</td>-->
<!--                                                <td>{{student.country_name }}</td>-->
                                                <td>{{student.mobile_number }}</td>
<!--                                                <td>{{student.phone_number_house }}</td>-->
                                                <td>{{student.birthdate }}</td>
                                                <td>{{student.gender }}</td>
<!--                                                <td>{{student.school_college_name }}</td>-->
<!--                                                <td>{{student.education }}</td>-->
<!--                                                <td>{{student.photo }}</td>-->
<!--                                                <td>{{student.biomatric_data }}</td>-->
                                                <td>{{student.email_id }}</td>
<!--                                                <td>{{student.inquiry_id }}</td>-->
                                                <td>
                                                    <a href="{% url 'student-update' student.id %}"><div class="demo-google-material-icon"> <i class="material-icons">edit</i> <span class="icon-name">edit</span> </div></a>
                                                    <a href="{% url 'student-detail' student.id %}"><div class="demo-google-material-icon"> <i class="material-icons">details</i> <span class="icon-name">details</span> </div></a>
                                                    <a href="{% url 'student-delete' student.id %}"><div class="demo-google-material-icon"> <i class="material-icons">delete</i> <span class="icon-name">delete</span> </div></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block extra_js_lib %}
     <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/pages/tables/jquery-datatable.js' %}"></script>
    <!-- Bootstrap Notify Plugin Js -->
    <script src="{% static 'plugins/bootstrap-notify/bootstrap-notify.js' %}"></script>
{% endblock %}